<div class="row">

  <div class="col-sm-3 text-center">
    <div class="text-center" style="width:80%;margin-top: 10%; margin-left: auto; margin-right: auto;">
      <mat-card class="box" (click)="list('new')">New Products</mat-card>
      <br>
      <mat-card class="box" (click)="list('update')">Update Products</mat-card>
      <br>
      <mat-card class="box" (click)="list('delete')">Delete Products</mat-card>
    </div>
  </div>

  <div class="col-sm-9 text-center">
    <div style="width: 95%;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>