.example-card {
    max-width: 300px;
    /* justify-content: center; */
    margin : 10% 33% 10% 39%;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .submit-button {
    text-align: right ;
    margin-right: 3%; 
  }

  /* input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  } */
  
  /* input.example-right-align {
    -moz-appearance: textfield;
  } */