<h1 style="text-align: center">
  Welcome to Gobs Inventory
</h1>
<div class="row">
    <div class="col-6">
      <mat-card class="example-card" routerLink="/newproduct">
        Add New Product
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card class="example-card" routerLink="/products">
        All Products
      </mat-card>
    </div>
  </div>
<div class="row" *ngIf="isStoreManager()">
  <div class="col-4"></div>
  <div class="col-4">
    <mat-card class="example-card-admin" routerLink="/requests">
      Pending Requests
    </mat-card>
  </div>
  <div class="col-4"></div>
</div>