mat-grid-tile {
    background: lightblue;
}

mat-grid-list {
    margin : 0% 30% 30% 30%
}

.col-4,.col-6 {
    margin-top: 5%
}

.example-card {
    width: 50%;
    padding: 5% 5% 5% 15%;
    background: lightblue;
    margin-left: 20%;
    cursor: pointer;
}

.example-card-admin {
    width: 50%;
    padding: 5% 5% 5% 8%;
    background: lightblue;
    margin-left: 20%; 
    cursor: pointer;
}